.navbar{
  width: 100%;
  height: 80px;
  background-color: rgb(167, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}
